@font-face {
    src: url("../fonts/MyriadProRegular.otf");
    font-family: MyriadProRegular;
}

@font-face {
    src: url("../fonts/MyriadProBold.otf");
    font-family: MyriadProBold;
}

* {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

html,
body {
    width: 100%;
    padding: 0;
    margin: 0;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    background-color: #f0f2ea;
}

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px 120px;
}

.header img {
    width: 100px;
    height: 100px;
    margin: 0px 40px;
}

.header__desc {
    margin-top: 35px;
    font-size: 14px;
    color: #636758;
    text-transform: uppercase;
    letter-spacing: 0.08em;
}

.header__image {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-list {
    width: 600px;
    margin: 0 auto;
    background-color: white;
    box-shadow: -1px -1px 3px lightgrey;
}

.list-item:first-of-type {
    padding: 140px 0px 160px 0px;
    background-image: url("../images/list_item_bg_1.jpg");
    background-repeat: no-repeat;
    background-size: 130%;
    background-position-x: -170px;
}

.list-item__caption {
    text-align: center;
}

.list-item__caption-top {
    font-size: 36px;
    text-transform: uppercase;
    color: #fff;
    font-family: MyriadProRegular;
    letter-spacing: 0.09em;
}

.list-item__caption-bottom {
    margin-top: 15px;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
}

.list-item__topic {
    font-size: 24px;
    color: #000;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.08em;
}

.list-item:nth-of-type(2) {
    margin-top: 40px;
}

.content-item {
    text-decoration: none;
    color: #000;
}

.content-item--short {
    width: 255px;
}

.content-item__image {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: MyriadProRegular;
    font-size: 24px;
    color: #fff;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.content-item--short .content-item__image {
    width: 255px;
    height: 150px;
}

.content-item--short:first-of-type .content-item__image {
    background-image: url("../images/content_item_short_bg_1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.content-item--short:nth-of-type(2) .content-item__image {
    background-image: url("../images/content_item_short_bg_2.jpg");
}

.content-item--long .content-item__image {
    background-image: url("../images/content_item_long_bg.jpg");
}

.content-item--long .content-item__image {
    margin-top: 35px;
    width: 100%;
    height: 220px;
}

.list-item__content-cover {
    padding: 30px 30px 0px 30px;
}

.list-item__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 2px solid #e5e5e5;
    padding-bottom: 30px;
}

.content-item__topic {
    margin-top: 15px;
    font-size: 14px;
    font-weight: bold;
    color: #6d7e44;
    line-height: 22px;
    letter-spacing: 0.04em;
}

.content-item__desc {
    margin-top: 3px;
    font-size: 12px;
    line-height: 18px;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.footer__address {
    width: 270px;
}

.footer__address-topic {
    font-size: 14px;
    font-weight: bold;
}

.footer__address-desc {
    margin-top: 5px;
    font-size: 11px;
    line-height: 18px;
}

.footer__address-link {
    font-size: 11px;
    line-height: 18px;
}

.footer__address-link a {
    color: #6d7e44;
    text-decoration: none;
}

.footer__links {
    width: 120px;
}

.footer__links-images {
    display: flex;
    justify-content: space-between;
}

.footer__links-images-item {
    width: 24px;
    height: 24px;
}

.footer__links-images-item img {
    width: 100%;
    height: 100%;
}

.footer__links-ref {
    display: block;
    font-size: 12px;
    color: #6d7e44;
    font-weight: bold;
    margin-top: 10px;
    text-decoration: none;
}

.footer__links-ref:first-of-type {
    margin-top: 15px;
}

.annotation {
    font-size: 11px;
    text-align: center;
    padding: 35px;
}

.annotation a {
    color: #000;
}

@media screen and (max-width: 700px) {
    .header {
        padding: 40px 50px;
    }

    .main-list {
        width: 500px;
    }

    .header__desc {
        font-size: 12px;
    }

    .header__svg {
        width: 90px;
    }

    .header img {
        width: 80px;
        height: 80px;
    }

    .list-item:first-of-type {
        background-size: 160%;
        background-position-x: -235px;
    }

    .list-item__caption-top {
        font-size: 30px;
    }

    .list-item__caption-bottom {
        font-size: 12px;
    }

    .list-item__caption svg {
        width: 80px;
    }

    .list-item:nth-of-type(2) {
        margin-top: 25px;
    }

    .list-item__topic {
        font-size: 20px;
    }

    .list-item__content-cover {
        padding: 20px 20px 0px 20px;
    }

    .list-item__content {
        padding-bottom: 20px;
    }

    .content-item--short {
        width: 210px;
    }

    .content-item--short .content-item__image {
        width: 210px;
        height: 110px;
    }

    .content-item__image {
        font-size: 20px;
    }

    .content-item__topic {
        font-size: 12px;
    }

    .content-item__desc {
        font-size: 11px;
    }

    .footer__address {
        width: 240px;
    }
}

@media screen and (max-width: 550px) {
    .main-list {
        width: 400px;
    }

    .list-item:first-of-type {
        background-size: 160%;
        background-position-x: -185px;
        padding: 100px 0px 120px 0px;
    }

    .list-item__caption-top {
        font-size: 26px;
    }

    .list-item__caption-bottom {
        font-size: 10px;
    }

    .list-item__caption svg {
        width: 70px;
    }

    .list-item__topic {
        font-size: 17px;
    }

    .content-item--short {
        width: 100%;
        margin-top: 35px;
    }

    .content-item--short .content-item__image {
        width: 100%;
        height: 180px;
    }

    .content-item--long .content-item__image {
        width: 100%;
        height: 180px;
    }

    .list-item__content-cover {
        padding-top: 0px;
    }

    .header__desc {
        font-size: 10px;
    }

    .footer__address-link {
        font-size: 10px;
    }

    .footer__address-desc {
        font-size: 10px;
    }

    .footer__address-topic {
        font-size: 13px;
    }

    .footer__address {
        width: 170px;
    }

    .footer__links {
        width: 105px;
    }

    .footer__links-images-item {
        width: 19px;
        height: 19px;
    }

    .footer__links-ref {
        font-size: 11px;
    }
}

@media screen and (max-width: 430px) {
    .main-list {
        width: 320px;
    }

    .footer {
        flex-direction: column;
        align-items: center;
    }

    .footer__address {
        display: none;
    }

    .footer__links {
        width: 225px;
        text-align: center;
    }

    .footer__links-images-item {
        width: 30px;
        height: 30px;
    }

    .footer__links-ref {
        font-size: 13px;
    }

    .header img {
        width: 50px;
        height: 50px;
        margin: 0px 30px;
    }

    .header {
        padding: 30px 20px;
    }

    .header__desc {
        font-size: 12px;
        text-align: center;
    }

    .list-item:first-of-type {
        background-size: 180%;
        background-position-x: -185px;
        background-position-y: -45px;
        padding: 50px 0px 90px 0px;
    }

    .list-item__topic {
        font-size: 16px;
    }

}